<mat-card class="column">
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-divider></mat-divider>
    <div class="column-content">
        <div style="min-height: 500px; background: rgb(210, 210, 210); display: flex; justify-content: center; align-items: center;">Placeholder</div>
        <div style="min-height: 500px; background: rgb(210, 210, 210); display: flex; justify-content: center; align-items: center;">Placeholder</div>
        <div style="min-height: 500px; background: rgb(210, 210, 210); display: flex; justify-content: center; align-items: center;">Placeholder</div>
        <div style="min-height: 500px; background: rgb(210, 210, 210); display: flex; justify-content: center; align-items: center;">Placeholder</div>
        <div style="min-height: 500px; background: rgb(210, 210, 210); display: flex; justify-content: center; align-items: center;">Placeholder</div>
        <div style="min-height: 500px; background: rgb(210, 210, 210); display: flex; justify-content: center; align-items: center;">Placeholder</div>
    </div>
</mat-card>
