<mat-card class="column">
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-divider></mat-divider>
    <div class="column-content">
        <div style="height: 180px; background: rgb(210, 210, 210); display: flex; justify-content: center; align-items: center;">Placeholder</div>
        <div style="height: 180px; background: rgb(210, 210, 210); display: flex; justify-content: center; align-items: center;">Placeholder</div>
        <div style="height: 180px; background: rgb(210, 210, 210); display: flex; justify-content: center; align-items: center;">Placeholder</div>
        <button mat-flat-button color="primary" (click)="addCard()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</mat-card>
