<app-container>
    <div class="board-container">
        <div class="board-header">
            <div class="info-container">
                <div class="board-logo">
                    <app-board-image [boardId]="id"></app-board-image>
                </div>
                <h1>{{ title }}</h1>
            </div>
            <div class="control-container">
                <button *ngIf="userRole !== roles.Watcher" mat-flat-button color="primary" (click)="addCard()">Add a card</button>
                <button *ngIf="userRole === roles.Owner" mat-icon-button color="primary" (click)="openSettings()">
                    <mat-icon>settings</mat-icon>
                </button>
            </div>
        </div>
        <div class="board-content" cdkDropListGroup [cdkDropListGroupDisabled]="userRole === roles.Watcher">
            <app-column *ngFor="let column of columns" [id]="column.columns_id" [title]="column.name" [boardId]="id"></app-column>
        </div>
    </div>
</app-container>
