.board-edit-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.board-edit-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
