<div>
  <h2>role selection</h2>

  <div>

    <div>
      <h3>Add new collaborator</h3>
      <mat-form-field>
        <mat-label>Assignee</mat-label>
        <input type="text" matInput [formControl]="inviteUserControl" [matAutocomplete]="auto">
        <mat-autocomplete [displayWith]="displayUserString" #auto="matAutocomplete">
          <mat-option *ngFor="let user of userList | async" [value]="user">
            {{user.user_name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

  <div class="assigneeContainer">
    <div class="assignee" *ngFor="let assignee of boardAssignees">
      <div class="assigneeMail assigneeItem">
        <div>
          email:
        </div>
        <div>
          {{ assignee.user_name }}
        </div>
      </div>
      <div class="assigneeRole assigneeItem">
        <div>
          row:
        </div>
        <div>
          <mat-select [value]="assignee.role_id">
            <mat-option [value]="role.id" *ngFor="let role of rolesAvailable">
              {{ role.name }}
            </mat-option>
          </mat-select>

        </div>
      </div>
      <div>
        <button mat-mini-fab>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
