<mat-toolbar color="primary">
    <button class="nav-bar-home" [routerLink]="['/app/dashboard']">
        <img class="nav-bar-logo" src="{{ standardLogoUrl }}">
    </button>
    <button mat-button [matMenuTriggerFor]="boardMenu">
        Boards
        <mat-icon iconPositionEnd>expand_more</mat-icon>
    </button>
    <mat-menu #boardMenu="matMenu">
        <span class="menu-section-title">RECENT</span>
        <span *ngIf="latestBoards.length === 0" class="menu-section-info">No boards yet...</span>
        <button *ngFor="let board of latestBoards" mat-menu-item [routerLink]="['/app/boards', board.board_id]">{{ board.board_name }}</button>
        <mat-divider></mat-divider>
        <button mat-menu-item [routerLink]="['/app/dashboard']">View all boards</button>
        <button mat-menu-item (click)="openCreateBoard()">Create board</button>
    </mat-menu>
    <span class="nav-bar-spacer"></span>
    <button mat-icon-button [routerLink]="['/user/profile']">
        <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button (click)="signOut()">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
