.nav-bar-spacer {
    flex: 1 1 auto;
}

.nav-bar-home {
    background: none;
    border: none;
    padding: 7px 8px;
}

.nav-bar-home:hover {
    cursor: pointer;
}

.nav-bar-logo {
    height: 32px;
    width: 32px;
}

.menu-section-title {
    display: block;
    color: grey;
    font-size: 12px;
    padding: 0 16px;
}

.menu-section-info {
    display: block;
    color: grey;
    padding: 16px;
}
