<div class="uploadComponent">
    <div style="padding: 20px;">
        <span class="input">
            <input type="file" (change)="onFileSelected($event)" class="upload-box" accept=".png">
            <div #tooltip="matTooltip" [matTooltip]="!isOwner ? 'You must be owner to change the image' : ''">
                <button mat-stroked-button color="primary" (click)="onSubmit()" [disabled]="isUploading || !isOwner">
                    <span class="buttonContent">
                        <mat-spinner *ngIf="isUploading" [diameter]="20" style="padding-right: 10px;"></mat-spinner>
                        Upload
                    </span>
                </button>
            </div>
        </span>
        <small style="padding-left: 10px;">Only .png files can be selected as board image</small>
        <mat-error *ngIf="operationFailed">{{errorMsg}}</mat-error>
    </div>
    <span *ngIf="!noImage">
        <img class="imageSize" [src]="imageSrc" *ngIf="imageSrc">
        <span class="imageSize spinnerContainer" *ngIf="!imageSrc">
            <mat-spinner [diameter]="40"></mat-spinner>
        </span>
    </span>
    <div class="imageSize imagePlaceholder" *ngIf="noImage">
        <small>No image set</small>
    </div>
</div>
