<div mat-dialog-content>
  <div class="headerContent">
    <div class="control-container">
        <div class="edit-container">
            <h3 class="card-title">{{cardContext.name}}</h3>
            <button mat-icon-button *ngIf="viewAuth" (click)="openEditCardDialog()">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <button mat-icon-button *ngIf="viewAuth" (click)="openDeleteCardDialog()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
    <button mat-icon-button mat-dialog-close aria-label="back button">
        <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-divider class="horizontal"></mat-divider>
  <div class="parent-view-card">
    <div class="card-desc">
      <h3>Description:</h3>
      <p>{{cardContext.description}}</p>
    </div>
    <mat-divider [vertical]="true" class="vertical"></mat-divider>
    <div class="rest-info">
      <div class="assigne">
        <h3>Assignee:</h3>
        <p>{{userName}}</p>
      </div>
      <div class="column">
        <h3>Card status:</h3>
        <p>{{columnName}}</p>
      </div>
      <div class="due-date">
        <h3>Due date:</h3>
        <p>{{ dueDate | date:"MM-dd-yyyy" }}</p>
      </div>
    </div>
  </div>
</div>
