.dashboard-item {
    height: 300px;
    width: 200px;
}

.dashboard-item:hover {
    cursor: pointer;
}

.dashboard-item-title {
    font-weight: bold;
}

.dashboard-item-thumbnail {
    height: 200px;
    width: 200px;
}