.dashboard-item {
    height: 300px;
    width: 200px;
}

.dashboard-item:hover {
    cursor: pointer;
}

.dashboard-item-title, .dashboard-item-info {
    margin: 12px 0;
}

.dashboard-item-title {
    font-weight: bold;
}

.dashboard-item-info {
    display: none;
    color: grey;
    font-size: 14px;
}

.dashboard-item-thumbnail {
    height: 200px;
    width: 200px;
}

.dashboard-item:hover .dashboard-item-thumbnail {
    filter: brightness(75%)
}

.dashboard-item:hover .dashboard-item-info {
    display: block;
}
