<app-container>
    <div class="profile-container">
        <h1>Your Profile</h1>

        <div style="padding-top: 20px; display: flex; flex-direction: row;">
            <button style="margin-right: 10px;" mat-flat-button color="primary" (click)="openDialog('email')">Edit mail</button>
            <button style="margin-right: 10px;" mat-flat-button color="primary" (click)="openDialog('password')">Change Password</button>
        </div>
        <mat-divider></mat-divider>
        <p>Deleting your Account, deletes all boards, columns, cards. This can't be reverted.</p>
        <button mat-flat-button color="warn" (click)="deleteAccountDialog()">Delete Account</button>
    </div>    
</app-container>
