mat-divider {
    margin: 20px 0;
}

.archive-container {
    padding: 20px;
}

.action-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
}